ul,li{
    list-style: none;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, input, button, textarea, p, blockquote, th, td, form {
    margin: 0;
    padding: 0;
}

.g-user-card, .g-user-card .card-inner {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.g-user-card {
    position: absolute;
    right: 0;
    top: 100%;
    width: 306px;
    visibility: hidden;
    box-shadow: 0 8px 16px 0 rgba(7,17,27,.2);
    z-index: 1000;
}

.g-user-card .card-inner {
    background-color: #fff;
    padding: 24px;
    box-sizing: border-box;
}

.g-user-card .card-top {
    color: #93999f;
    position: relative;
}

.clearfix {
}

.g-user-card .card-top a {
    color: #93999f;
    display: inline-block;
}

.g-user-card .card-top img {
    float: left;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 12px;
}

.l {
    float: left;
}

.g-user-card .card-top .card-top-right-box {
    margin-top: 14px;
}

.g-user-card .card-top a {
    color: #93999f;
    display: inline-block;
}

.text-ellipsis {
    overflow: hidden;
}

.g-user-card .card-top .name {
    display: inline-block;
    font-size: 16px;
    color: #07111b;
    width: 170px;
}

.g-user-card .card-top .meta {
    font-size: 12px!important;
}

.g-user-card .card-top a {
    color: #93999f;
    display: inline-block;
}

.g-user-card .card-top .meta a {
    margin-right: 12px;
}

.g-user-card .card-top .meta b {
    margin-left: 2px;
}

.g-user-card .user-center-box {
    margin-top: 16px;
    margin-bottom: 14px;
}

.g-user-card .user-center-box ul li {
    position: relative;
    width: 128px;
    width: 127px\9;
    height: 36px;
    background: #F8FAFC;
    border-radius: 2px;
    line-height: 36px;
    color: #4d555d;
    font-size: 12px;
    margin-right: 2px;
    margin-bottom: 2px;
    box-sizing: border-box;
}

.logined li>a {
    display: block;
    height: 72px;
    line-height: 72px;
    width: 60px;
    color: #787d82;
    text-align: center;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
}

.g-user-card .user-center-box ul li a {
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding-left: 12px;
    text-align: left;
    box-sizing: border-box;
}

.g-user-card .card-history, .g-user-card .card-links {
    margin-bottom: -1px;
    border-bottom: 1px solid #edf1f2;
}

.g-user-card .card-history {
    padding-bottom: 16px;
}

.g-user-card .card-history .history-item {
    display: block;
    position: relative;
    padding-left: 24px;
    font-size: 12px;
    color: #787d82;
    transition: background-color .2s;
}

.g-user-card .card-sets {
    margin-top: 16px;
    font-size: 12px;
    line-height: 12px;
}

.g-user-card .card-sets a {
    color: #93999F;
}